<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2内部日志级别 -->
<configuration status="ALL">
    <!-- 全局参数 -->
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %t %level %C:%M() %m%n</Property>
        <Property name="displayName">web</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="DEBUG"/>
        <Logger name="io.lettuce" level="ERROR"/>
        <Logger name="io.netty" level="ERROR"/>
        <Logger name="org.apache.dubbo" level="ERROR"/>
        <Logger name="com.alibaba.nacos" level="ERROR"/>
        <Logger name="org.springframework.data.redis" level="ERROR"/>
        <!--name: 只输出logger名字为_DsfDbLog的日志 -->
        <!--level: log输出等级 -->
        <!--includeLocation：是否可以获取class  method 等路径地址-->
        <!--additivity: 是否继承root节点 默认true-->
        <AsyncLogger name="_DsfDbLog" level="DEBUG" includeLocation="false" additivity="false">
            <AppenderRef ref="console"/>
            <!--<AppenderRef ref="databaseAppender"/>-->
        </AsyncLogger>
        <Root level="DEBUG">
            <AppenderRef ref="console"></AppenderRef>
        </Root>
    </Loggers>
</configuration>